body {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.avatar-grid {
    display: grid;
    grid-gap: 20px;
}

.avatar-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.avatar-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.avatar-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.avatar-card p {
    margin-bottom: 0;
}

.learn-more-btn {
    display: block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff
}